.circle {
    width: 130px;
    line-height: 123px;
    border-radius: 89%;
    text-align: center;
    font-size: 60px;
    border: 3px solid rgba(0, 0, 0, 0.371);

  }

.sprint-velocity-label {

    font-size: xx-large;
}

.align-center {
    padding-left:100px;
}

.header-pad {
    padding-left: 70px;
    font-style: normal;
}

